<div class="container center ">    
    <div class="row">
        <div class="col s12 spacing ">
            <ul class="tabs tabs-style">
                <li class="tab col s6 l6 m6 tabs-style"><a class="active tabs-style" href="#" routerLink="/student"  aria-label="Student Registration"> Student</a></li>
                <li class="tab col s6 l6 m6 tabs-style"><a class="tabs-style" routerLink="/teacher"  aria-label="Teacher Registration">Teacher</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>