<div id="header">
    <div  class="carousel carousel-slider" data-indicators="true"> 
        
        <div class="carousel-fixed-item center middle-indicator">
            <div class="left">
             <a href="Previo" class="movePrevCarousel middle-indicator-text  content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
            </div>            
            <div class="right">
                <a href="Siguiente" class=" moveNextCarousel middle-indicator-text  content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
            </div>
        </div>
        <a  class="carousel-item " *ngFor="let carousel of carousels;let i = index"><img src="{{carousel.image}}" alt="{{carousel.alt}}"></a>
    </div>    
</div>

