
/* just for jsfiddle */
@media screen and (max-width:600px){
  .middle-indicator{
    //  position:absolute;
    top: calc(100vw/7.5) !important;
    }
    .carousel.carousel-slider .carousel-item{
      max-height: 400px;
    }
    .carousel{
      height: 400px !important;
    }
}
@media screen and (min-width:601px){
  .middle-indicator{
    //  position:absolute;
    top: calc(100vw/5.4) !important;
    }
    .carousel.carousel-slider .carousel-item{
     max-height: 100vh;
    }
    .carousel{
      height: 100vh !important;
    }
}





  .middle-indicator-text{
   font-size: 4.2rem;
  }
  a.middle-indicator-text{
    color:#D3D3D3	!important;
  }
.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
  }
    .indicators{
  	visibility: hidden;
  }

  .loader{
    margin:auto;
    padding:auto;
    // height: calc(30vh);
    padding-top: calc(100vw/5.36);
    margin-left: calc(100vw/2);

  }