<h2 class="center ">About Us</h2>
<div class="spacing">
    <div class="row" >
        <div class="col s12 m12 l6 center" >
            <img src="../../../assets/images/about1.png " style="width: 80%;">
        </div>
        <div class="col s12 m12 l6 inner-div desc">
              
                    Derived from Latin dolorem ipsum (“pain itself”), Lorem Ipsum is filler text used 
                    by publishers and graphic designers used to demonstrate graphic elements.
                    Let's say you're drafting the ultimate content marketing strategy.
                    Lorem Ipsum is placeholder text that stands in for meaningful content.
                    It allows designers to focus on getting the graphical elements such as typography,
                    font, and page layout in place first, before you move forward with the rest 
                    of your strategy. Before publication, you replace the Lorem Ipsum text with your 
                    polished, high quality content.

        </div>
    </div>
</div>


<h2 class="center ">About Us</h2>
<div class="spacing">
    <div class="row" >
        <div class="col s12 m12 l6 center" >
            <img src="../../../assets/images/about2.png " style="width: 80%;">
        </div>
        <div class="col s12 m12 l6 inner-div desc">
              
                    Derived from Latin dolorem ipsum (“pain itself”), Lorem Ipsum is filler text used 
                    by publishers and graphic designers used to demonstrate graphic elements.
                    Let's say you're drafting the ultimate content marketing strategy.
                    Lorem Ipsum is placeholder text that stands in for meaningful content.
                    It allows designers to focus on getting the graphical elements such as typography,
                    font, and page layout in place first, before you move forward with the rest 
                    of your strategy. Before publication, you replace the Lorem Ipsum text with your 
                    polished, high quality content.

        </div>
    </div>
</div>