.center{
    margin: auto;
    height: auto;
}
 li
{
    display: inline-block;
    margin: 0 10px;
}
.container
{
    width:85vw;
    // color: #929aac;
    color: black;
}
.page-footer{
    background-color:  #f5f7fa !important ;
}
.footer-copyright  li a{
    text-decoration: none;
    color: black;
}