<footer class="page-footer">
    <div class="container">
        <div class=" center">
          <h5>Contact us</h5>
        </div>
        <div class="row">
          <div class="col l6 m6 s12 center">
            <p><b>Phone No. :</b></p>
            <p>Mohan Mahida : +91 98195 52073</p>
          </div>
          <div class="col l6 m6 s12 center">
            <p><b>Email:</b></p>
            <p>shardahometutor@gmail.com</p>
          </div>
        <!-- <div class="col l4 offset-l2 s12">
          <p><b>Address:</b></p>
          <p>MG road Goregoan west.</p>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright ">
      <div class="center">
        <ul >
          <li><a class="grey-text text-lighten-3" href="#">Facebook</a></li>
          <!-- <li><a class="grey-text text-lighten-3" href="#">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Linked In</a></li> -->
          <li><a class="grey-text text-lighten-3" href="#">Instagram</a></li>
        </ul>
        <div class="container center-align">&copy; 2019 Sharda Home Tutor</div>
      </div>
    </div>
  </footer>


  