<footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Contact us</h5>
          <p><b>Phone No. :</b></p>
          <p>Mohan Mahida : +91 98195 52073</p>
          <p><b>Email:</b></p>
          <p>shardahometutor@gmail.com</p>
        </div>

        <!-- <div class="col l4 offset-l2 s12">
          <p><b>Address:</b></p>
          <p>MG road Goregoan west.</p>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright grey darken-4 ">
      <div class="center">
        <ul >
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/Crown-Kids-117446246311318/?eid=ARA45iP55FLDMUC9dsmi0Q5CNa598wAKhz7P3SK0TDuJmKQIG1nAS7XZgjZ-X2uT_mqJ2IuHTASpHuyi">Facebook</a></li>
          <!-- <li><a class="grey-text text-lighten-3" href="#">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Linked In</a></li> -->
          <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/crownkids2019/">Instagram</a></li>
        </ul>
        <div class="container center-align">&copy; 2019 Sharda HOme Tutor</div>
      </div>
    </div>
  </footer>


  