<nav class="nav-wrapper navbar-fixed ">
  <div class="container ">
    <a href="#" class="brand-logo"><img src="../../../assets/images/logoPng.png"></a>
    <a href="#" class="sidenav-trigger" data-target="mobile-menu">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down" >
      <li><a href="#aboutus">About Us</a></li>
      <li><a href="#register">Register</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <ul   class="sidenav " id="mobile-menu">
      <li><a href="#aboutus">About Us</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>