<nav class="nav-wrapper navbar-fixed transparent">
    <div class="container">
      <div>
        <a href="#" class="brand-logo"><img src={{baseurl}}></a>
      </div>
      <a href="#" class="sidenav-trigger" data-target="mobile-menu">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down" >
        <li><a href="#aboutus">About Us</a></li>
        <li><a href="#aboutus">About Us</a></li>
        <li><a href="#categories">Categories</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#timeline">Events</a></li>
      </ul>
      <ul   class="sidenav " id="mobile-menu">
        <li><a href="#aboutus">About Us</a></li>
        <li><a href="#categories">Categories</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#timeline">Events</a></li>
      </ul>
    </div>
  </nav>

